---
layout: layouts/home.njk
menu:
  visible: true
  title: Home
  order: 0
---

{% set postslist = search.pages("type=posts", "date=desc") %}

<div class="flex flex-col p-4 justify-center items-center">
<h1 class="text-2xl text-black heading">Latest posts</h1>
{% include "templates/postslist.njk" %}
</div>

<hr>
